<!-- Scripts de Bootstrap y dependencias -->
<script src="/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>

<!-- Scripts de Firebase (v8) -->
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>

<!-- Controladores principales de la aplicación -->
<script src="/controllers/firebase-config.js"></script>
<script src="/controllers/authController.js"></script>
<script src="/controllers/navigation.js"></script>
